<br>
<br>

<hr>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Inventario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Categorias</a>
    </li>
</ul>

<br>

<form>
    <div class="form-row align-items-right">
      <div class="col-sm-3">
        <label class="sr-only" for="inlineFormInputName">Name</label>
        <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInputName" placeholder="Jane Doe">
      </div>
      <div class="col-sm-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        </div>
      </div>
      <div class="col-auto">
        <div class="form-check mb-2 mb-sm-0">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">@</div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          
        </div>
    </div>
  </form>