<div class="container">
  <!--TAB DE NAVEGACION -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/ruta']">Inventario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/ruta']">Categorías</a>
    </li>
  </ul>
</div>

<!--CONTENEDOR-->
<div class="container menu-inventario">
  <h5>**CAMBIAR POR ALGO ÚTIL**</h5>
  <div>
    <ul>
      <li>Titulo</li>
      <li>componentes</li>
      <li> contenido...</li>
    </ul>
  </div>
</div>