    <!-- Modal -->
    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                    <p class="my-0">
                            <label>Código de Barras</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-0 my-0">
                            <i class="fa fa-barcode input-group-addon" aria-hidden="true"></i>
                            <input class="form-inline" type="text" name="codigo" class="form-control" placeholder="15023G4562733" minlength="13" maxlength="13" required pattern="^[0-9]+$"/>
                        </div>
                        <!--#email="ngModel" [(ngModel)]=""-->
                        <!--<span *ngIf="!email.valid && email.touched">El email es obligatorio!</span>-->
                        <br />
                        <p class="my-0">
                            <label>Nombre</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-0 my-0">
                            <i class="fa fa-pencil input-group-addon" aria-hidden="true"></i>
                            <input type="text" name="nommbre" class="form-control" placeholder="CHIPS FUEGO" minlength="1" maxlength="100" required />
                        </div>
                        <br />
                        <p class="my-0">
                            <label>Descripción</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-0  my-0">
                            <i class="fa fa-pencil input-group-addon" aria-hidden="true"></i>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" placeholder="Descripción breve del producto" minlength="1" maxlength="150" required></textarea>
                        </div>
                        <br />
                        <p class="my-0">
                            <label>Cantidad</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-0  my-0">
                            <i class="fa fa-plus input-group-addon" aria-hidden="true"></i>
                            <input type="NUMBER" name="cantidad" class="form-control" placeholder="500" required />
                        </div>
        
                        <br />
                        <p class="my-0">
                            <label>Precio de Compra</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-1  my-0">
                            <i class="fa fa-usd input-group-addon" aria-hidden="true"></i>
                            <input type="number" name="cantidad" class="form-control" placeholder="29.99" step=0.01 required />
                        </div>
                        <br />
                        <p class="my-0">
                            <label>Precio de Venta</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-0 my-0">
                            <div class="input-group-addon fa fa-usd"></div>
        
                            <input type="number" name="cantidad" class="form-control" placeholder="29.99" step=0.01 required />
                        </div>
                        <br />
                        <p class="my-0">
                            <label>Categoria</label>
                        </p>
                        <div class="input-group mb-2 mb-sm-0  my-0">
                            <select class="form-control" name="cantidad" placeholder="categorias" type="number" minlength="1" maxlength="4" required> 
                                    <option>1</option>
                                   
                            </select>
                        </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>