<div class="mt-5 mb-5">
    <div class="row">
      <div class="col-9">
          <button type="button" data-toggle="modal" data-target="#exampleModalP" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>
            Nuevo</button>
          
          <button type="button" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true" (ngClick)="refresh()"></i>
            Actualizar</button>
      </div>
        
        <div class="col-3 d-flex flex-row-reverse">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar...">
              </div>
        </div>
    </div>
   
  </div>
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Código de Barras</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Cantidad</th>
          <th>Precio Venta</th>
          <th>Precio Compra</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <th scope="row">{{producto.codigoBarras}}</th>
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.cantidad}}</td>
          <td>{{producto.precioVenta}}</td>
          <td>{{producto.precioCompra}}</td>
          <td><button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
            
            <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
            </button></td>
        </tr>
      </tbody>
    </table>
  
    <!-- Modal Agregar producto -->
  
  <!-- Modal -->

<div class="modal fade" id="exampleModalP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form #formRegistroPro="ngForm" (ngSubmit)="onSubmit()">
                  <p class="my-0">
                      <label>Código de Barras</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-0 my-0">
                      <i class="fa fa-barcode input-group-addon" aria-hidden="true"></i>
                      <input class="form-inline" type="text" name="codigoBarras" class="form-control" placeholder="15023G4562733" minlength="13" maxlength="13" #c_barras="ngModel" [(ngModel)]="producto.codigoBarras" required pattern="^[0-9]+$" />
                  </div>
                  <div class="col-12 d-flex justify-content-start invalid-feedback" *ngIf="c_barras.touched && !c_barras.valid">
                    <span *ngIf="c_barras.errors.required">
                         El código de barras es requerido
                    </span>
                    <span *ngIf="c_barras.errors.minlength">
                      El código de barras es de 13 caracteres
                    </span>
                    <br>
                    <span *ngIf="c_barras.errors.pattern">
                            - Solo esta permitido valores del 0 - 9
                    </span>
                </div>
                  <!--#email="ngModel" [(ngModel)]=""-->
                  <!--<span *ngIf="!email.valid && email.touched">El email es obligatorio!</span>-->
                  <br />
                  <p class="my-0">
                      <label>Nombre</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-0 my-0">
                      <i class="fa fa-pencil input-group-addon" aria-hidden="true"></i>
                      <input type="text" name="nombre" class="form-control" placeholder="CHIPS FUEGO" minlength="2" maxlength="100" #nombre_prod="ngModel" [(ngModel)]="producto.nombre" required />
                  </div>
                  <div class="col-12 d-flex justify-content-start invalid-feedback" *ngIf="nombre_prod.touched && !nombre_prod.valid">
                    <span *ngIf="nombre_prod.errors.required">
                         El nombre es requerido
                    </span>
                    <span *ngIf="nombre_prod.errors.minlength">
                      El tamaño mínimo del nombre es de 2 caracteres
                    </span>
                    
                   
            
                </div>
                  <br />
                  <p class="my-0">
                      <label>Descripción</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-0  my-0">
                      <i class="fa fa-pencil input-group-addon" aria-hidden="true"></i>
                      <textarea class="form-control" id="exampleFormControlTextarea1" name="descripcion" rows="3" type="text" placeholder="Descripción breve del producto" minlength="1" maxlength="150"
                      #descripcion_prod="ngModel" [(ngModel)]="producto.descripcion" required></textarea>
                  </div>
                  <br />
                  <p class="my-0">
                      <label>Cantidad</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-0  my-0">
                      <i class="fa fa-plus input-group-addon" aria-hidden="true"></i>
                      <input type="number" name="cantidad" class="form-control" placeholder="500" #cantidad="ngModel" [(ngModel)]="producto.cantidad" required />
                  </div>

                  <br />
                  <p class="my-0">
                      <label>Precio de Compra</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-1  my-0">
                      <i class="fa fa-usd input-group-addon" aria-hidden="true"></i>
                      <input type="number" name="precioCompra" class="form-control" placeholder="29.99" step=0.01 #precio_compra="ngModel" [(ngModel)]="producto.precioCompra" required />
                  </div>
                  <br />
                  <p class="my-0">
                      <label>Precio de Venta</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-0 my-0">
                      <div class="input-group-addon fa fa-usd"></div>

                      <input type="number" name="precioVenta" class="form-control" placeholder="29.99" step=0.01 #precio_venta="ngModel" [(ngModel)]="producto.precioVenta" required />
                  </div>
                  <br />
                  <p class="my-0">
                      <label>Categoria</label>
                  </p>
                  <div class="input-group mb-2 mb-sm-0  my-0">
                      <select class="form-control" id="exampleFormControlSelect1" name="categoria" placeholder="categorias" type="text" minlength="1"
                      maxlength="10" #nombre_cat="ngModel" [(ngModel)]="producto.categoria" required (change)="sacarCategoria($event.target.value)">
                        <option *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
                      </select>

                  </div>
                  <fieldset class="form-group">
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" [disabled]="!formRegistroPro.form.valid">Guardar</button>
                          <!--[disabled]="!formRegistro.form.valid"-->
                      </div>
                  </fieldset>
                  <p>{{getdatos()}}</p>
              </form>
          </div>

      </div>
  </div>
</div>