/* You can add global styles to this file, and also import other style files */

.menu-nav {
    background: #95bcf2;
    min-height: 92vh;
    max-height: 100%;
    padding: 0px;
}

li a {
    display: block;
}

body {
    font-family: "Calibri Light";
}

.inicio {
    text-align: center;
    height: 500px;
}