<!--TITULO-->
<div class="container">
    <h3>Ventas</h3>
</div>

<div class="container">
    <div class="alert alert-danger" *ngIf="status=='error'">
        <span>{{errMsg}}</span>
    </div>
    <div class="alert alert-success" *ngIf="status=='success'">
        <span>{{errMsg}}</span>
    </div>
    <div *ngIf="status==''">
    </div>
</div>

<br>

<!--MENU AGREGAR-->
<div class="container">
    <div class="form-inline">
        <label>Codigo de barras</label>
        <div class="col">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
                <input type="text" minlength="13" maxlength="13" [(ngModel)]="producto.codigoBarras" (keyup)="onKey($event)">
            </div>
        </div>

        <label *ngIf="existeProducto">Cantidad</label>
        <div class="col">
            <div class="input-group" *ngIf="existeProducto">
                <span class="input-group-addon"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
                <input type="number" [(ngModel)]="producto.cantidad" (change)="verificarCantidad()" (keyup)="verificarCantidad()">
            </div>
        </div>

        <button class="btn btn-success" (click)="pushProducto()" *ngIf="existeProducto&&cantidadCorrecta">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Agregar
          </button>

        <!--div class="col">
            <input type="button" value="Agregar" (click)="pushProducto()" class="btn btn-primary">
          </div-->
    </div>

    <!--button class="btn btn-primary">
              <i class="fa fa-keyboard-o" aria-hidden="true"></i>
              Teclear código
        </button-->
    <!--label>Producto:</label>
        <input type="text" [(ngModel)]="producto.nombre">
        <label>Cantidad:</label> <input type="number" [(ngModel)]="producto.cantidad">
        <label>Precio unitario:</label> <input type="number" [(ngModel)]="producto.precioVenta"-->

</div>

<br>

<!--TABLA-->
<div class="container" id="tabla">
    <div class="row">
        <div class="col">
            <table id="carrito" class="table table-striped">
                <tr>
                    <td>Código de barras</td>
                    <td>Nombre</td>
                    <td>Descripción</td>
                    <td>Precio venta</td>
                    <td>Cantidad</td>
                    <td>Acciones</td>
                </tr>
                <tr *ngFor="let prod of productos;let i=index">
                    <td><input type="checkbox" id="{{i}}">{{prod.codigoBarras}}</td>
                    <td>{{prod.nombre}}</td>
                    <td>{{prod.descripcion}}</td>
                    <td>{{prod.precioVenta}}</td>
                    <td>{{prod.cantidad}}</td>
                    <!--td>{{prod[0]}}</td>
                <td>{{prod[1]}}</td>
                <td>{{prod[3]}}</td-->
                    <!--td><input type="text" value='{{prod[1]}}' readonly></td-->
                    <td>
                        <!-- <input type="button" value="..." class="btn btn-primary" (click)="modificarCantidad(i)"> -->
                        <button type="button" class="btn btn-danger" (click)="removeProducto(i)"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--TERMINA TABLA-->

<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="text-danger">Total:$</h4>
            <h4 id="total">{{total}}</h4>
        </div>
        <div class="col-4">
            <h4>Recibido:$ </h4>
            <h4 id="recibido">{{pago}} </h4>
        </div>
        <div class="col-4">
            <h4>Cambio:$
                <h4 id="cambio">{{cambio}}</h4>
            </h4>
        </div>
    </div>
</div>

<br>

<!--BOTONES FOOTER-->
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngIf="total>0">
            <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal">
              <i class="fa fa-money" aria-hidden="true"></i>
              Cobrar
            </button>
            <button class="btn btn-success" (click)="onSubmit()" onclick="gentabla()" [disabled]="!ventaValida">
                <i class="fa fa-check" aria-hidden="true"></i>
                Finalizar venta
              </button>
        </div>

        <div class="col-md-6">

        </div>

        <div class="col-md-3">
            <button class="btn btn-danger" (click)="removerSeleccion()" [disabled]="listaVacia">
            <i class="fa fa-trash" aria-hidden="true"></i>
              Eliminar
            </button>
            <button class="btn btn-danger" [disabled]="listaVacia" data-toggle="modalCancel" data-target="#exampleModal2" (click)="cancelarModal()"><!--data-toggle="modalCancel" data-target="#exampleModal2" (click)="cancelarModal()"-->
                <i class="fa fa-times" aria-hidden="true"></i>
              Cancelar
              </button>
        </div>
    </div>
</div>
<!--TERMINA BOTONES FOOTER-->

<br>

<!--EDITAR-->
<div class="container">
    <div *ngIf="editando">
        Cantidad: <input type="number" [(ngModel)]="nuevaCantidad">
        <input type="button" value="Aceptar" class="btn btn-primary" (click)="guardarCantidadModificada()">
    </div>
</div>

<!--MODAL CUADRO DIALOGO-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form #formPago="ngForm">
                    <div>
                        <label>Total a pagar: {{total}}</label><br />
                    </div>
                    <!--CÓDIGO DE BARRAS-->
                    <p class="my-0">
                        <label>Recibí</label>
                    </p>
                    <div class="input-group mb-2 mb-sm-0 my-0">
                        <i class="input-group-addon fa fa-usd" aria-hidden="true"></i>
                        <input class="form-inline" type="number" name="recibi" class="form-control" placeholder="0.00" step=0.10 required pattern="[0-9]+.[0-9][0-9]" [(ngModel)]="pago" (keyup)="realizarPago()" (change)="realizarPago()" />
                    </div>
                    <!--VALIDACIÓN DE PRECIO COMPRA
                          <div class="col-12 d-flex justify-content-start invalid-feedback" *ngIf="recibi.touched && !recibi.valid">
                              <span *ngIf="recibi.errors.required">
                                           El precio de compra es requerido
                                      </span>
                              <span *ngIf="recibi.errors.pattern">
                                          El formato de precio de COMPRA deberá tener el siguiente formato: 99.99
                                      </span>
                          </div>
                          TERMINA VALIDACIÓN DE PRECIO COMPRA-->
                    <br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="cerrar()">
                          Cancelar
                      </button>
                <button type="button" class="btn btn-success" [disabled]="!ventaValida" (click)="aceptar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL CONFIRMAR CANCELACION-->
<!-- Modal CONFIRMA CENCELAR-->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalCancel" #modalCancel>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                ¿Desea cancelar la compra?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="cerrar();cancelarVenta()">Aceptar</button>
            </div>
        </div>
    </div>
</div>