<!--TITULO-->
<div class="container">
    <h3>Ventas</h3>
</div>

<br>

<!--MENU AGREGAR-->
<div class="container">
    <div class="form-inline">
        <label>Codigo de barras</label>
        <div class="col">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
                <input type="text" [(ngModel)]="producto.codigoBarras">
            </div>
        </div>
        <label>Cantidad</label>
        <div class="col">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
                <input type="number" [(ngModel)]="producto.cantidad">
            </div>
        </div>

        <button class="btn btn-success" (click)="pushProducto()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Agregar
    </button>

        <!--div class="col">
      <input type="button" value="Agregar" (click)="pushProducto()" class="btn btn-primary">
    </div-->
    </div>

    <!--button class="btn btn-primary">
        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
        Teclear código
  </button-->
    <!--label>Producto:</label>
  <input type="text" [(ngModel)]="producto.nombre">
  <label>Cantidad:</label> <input type="number" [(ngModel)]="producto.cantidad">
  <label>Precio unitario:</label> <input type="number" [(ngModel)]="producto.precioVenta"-->

</div>

<br>

<!--TABLA-->
<div class="container" id="tabla">
    <div class="row">
        <div class="col">
            <table id="carrito" class="table table-striped">
                <tr>
                    <td>Código de barras</td>
                    <td>Nombre</td>
                    <td>Descripción</td>
                    <td>Precio venta</td>
                    <td>Cantidad</td>
                    <td>Acciones</td>
                </tr>
                <tr *ngFor="let prod of productos;let i=index">
                    <td>{{prod.codigoBarras}}</td>
                    <td>{{prod.nombre}}</td>
                    <td>{{prod.descripcion}}</td>
                    <td>{{prod.precioVenta}}</td>
                    <td>{{prod.cantidad}}</td>
                    <!--td>{{prod[0]}}</td>
          <td>{{prod[1]}}</td>
          <td>{{prod[3]}}</td-->
                    <!--td><input type="text" value='{{prod[1]}}' readonly></td-->
                    <td>
                        <input type="button" value="..." class="btn btn-primary" (click)="modificarCantidad(i)">
                        <input type="button" value="-" class="btn btn-danger" (click)="removeProducto(i)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--TERMINA TABLA-->

<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="text-danger">Total:$ {{total}}</h4>
        </div>
        <div class="col">
            <h4>Cambio:$ ? </h4>
        </div>
    </div>
</div>

<br>

<!--BOTONES FOOTER-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" (click)="onSubmit()">
        <i class="fa fa-money" aria-hidden="true"></i>
        Cobrar
      </button>
            <button class="btn btn-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          Finalizar venta
        </button>
        </div>

        <div class="col-md-6">

        </div>

        <div class="col-md-3">
            <button class="btn btn-danger">
      <i class="fa fa-trash" aria-hidden="true"></i>
        Eliminar
      </button>
            <button class="btn btn-danger">
          <i class="fa fa-times" aria-hidden="true"></i>
        Cancelar
        </button>
        </div>
    </div>
</div>
<!--TERMINA BOTONES FOOTER-->

<br>

<!--div class="container">
  <input type="button" value="Guardar" class="btn btn-primary" (click)="onSubmit()">
</div-->

<!--EDITAR-->
<div class="container">
    <div *ngIf="editando">
        Cantidad: <input type="number" [(ngModel)]="nuevaCantidad">
        <input type="button" value="Aceptar" class="btn btn-primary" (click)="guardarCantidadModificada()">
    </div>

</div>
<div class="container">
    <button onclick="genPDF2()" class="btn btn-success"> Implimir</button>
    <button onclick="genPDF3()" class="btn btn-success"> Implimir 3</button>
</div>